Repository prometheus-community/windows_exporter, pull requests merged in 2022-02, with the labels that each got.

#937 Add missing whitelist/blacklist checks for IIS
  collector/iis.go
Labels: collector/iis

#925 Ensure CPU time description matches `mode` flag
  collector/cpu.go
  docs/collector.cpu.md
  tools/e2e-output.txt
Labels: documentation, collector/cpu

#907 Check default collector metrics with promtool
  .github/workflows/ci.yml
  Makefile
  tools/promtool.ps1
Labels: ci/builds

#945 Run CI on pushes to master branch
  .github/workflows/ci.yml
  tools/end-to-end-test.ps1
  tools/promtool.ps1
Labels: ci/builds

#943 feat: add storage metrics for container collector
  collector/container.go
  docs/collector.container.md
Labels: collector/container
