Repository prometheus-community/windows_exporter, pull requests merged in 2022-10, with the labels that each got.

#1075 Update regex
  docs/collector.process.md
Labels: documentation, collector/process

#1077 Update collector.process.md
  docs/collector.process.md
Labels: documentation, collector/process

#1055 Add ARM64 builds to releases
  .github/workflows/ci.yml
  Makefile
Labels: ci/builds

#1080 fix: Remove memory leaks in scheduled_task
  collector/scheduled_task.go
Labels: collector/scheduled_task

#1084 chore(deps): bump perflib to v0.2.0
  go.mod
  go.sum
Labels: dependencies
