Repository prometheus-community/windows_exporter, pull requests merged in 2022-01, with the labels that each got.

#902 Move textfile mtime metric from loop
  collector/textfile.go
Labels: collector/textfile

#898 Migrate CI/CD to Github Actions
  .github/workflows/ci.yml
  Makefile
  appveyor.yml
Labels: ci/builds

#896 codespell: add GH Action for checking spelling issues
  .github/workflows/ci.yml
Labels: ci/builds

#905 Fix counter metrics should have "_total" suffix issue
  collector/tcp.go
  docs/collector.tcp.md
Labels: collector/tcp

#912 Port should default to 9182 if not defined
  installer/windows_exporter.wxs
Labels: installer

#909 Add more ADFS metrics from `AD FS` CounterSet
  collector/adfs.go
  docs/collector.adfs.md
Labels: collector/adfs

#924 Don't upgrade dependencies when installing tools
  .github/workflows/ci.yml
Labels: bug, ci/builds

#921 fix: iis metrics greater than IIS v7
  collector/iis.go
Labels: collector/iis
