Repository prometheus-community/windows_exporter, pull requests merged in 2023-01, with the labels that each got.

#1114 Add scheduled_task flag examples
  docs/collector.scheduled_task.md
Labels: documentation, collector/scheduled_task

#1113 Add Avg logical disk RW Queue metrics
  collector/logical_disk.go
  docs/collector.logical_disk.md
  tools/e2e-output.txt
Labels: collector/logical_disk

#1115 Split CI/CD configuration
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/spelling.yml
Labels: ci/builds

#1117 Update deprecated Github Actions
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/spelling.yml
Labels: ci/builds

#1118 Fix CI release issues
  .github/workflows/release.yml
Labels: ci/builds

#1121 Add labels to diskdrive docs
  docs/collector.diskdrive.md
Labels: documentation, collector/diskdrive
