Repository prometheus-community/windows_exporter, pull requests merged in 2023-07, with the labels that each got.

#1239 feat(doc): Document Powershell v7.3 argument parsing
  README.md
Labels: documentation

#1184 fix Terminal Service duplicate session names under load.
  collector/terminal_services.go
Labels: collector/terminal services

#1256 fix: Set correct eventlog flag for MSI installer
  installer/windows_exporter.wxs
Labels: installer

#1257 fix: Remove default value from deprecated IIS flag
  collector/iis.go
Labels: collector/iis
