Repository prometheus-community/windows_exporter, pull requests merged in 2023-11, with the labels that each got.

#1331 fix: Fix spelling error in service collector
  collector/service.go
Labels: collector/service, ci/builds

#1317 feat(#1300): add revision to windows_os_info
  collector/os.go
Labels: collector/os

#1342 CI: Add stale action
  .github/workflows/stale.yml
Labels: ci/builds

#1345 fix(docs): Add textfile to enabled_collectors
  README.md
Labels: documentation
