Repository prometheus-community/windows_exporter, pull requests merged in 2023-08, with the labels that each got.

#1220 Add Hyper-V CPUWaitTimePerDispatch metrics
  collector/hyperv.go
  docs/collector.hyperv.md
Labels: collector/hyperv

#1272 fix(docs): Remove duplicate ADFS metrics
  docs/collector.adfs.md
Labels: documentation, collector/adfs

#1273 fix(docs): Set correct TCP reset description
  docs/collector.tcp.md
Labels: documentation, collector/tcp
